<div class="header">
	<ul class="menu">
		<li>
			<img class="logo" src="https://w7.pngwing.com/pngs/769/486/png-transparent-rose-scalable-graphics-valentines-day-rose-love-flower-silhouette.png">
			SAYA
		</li>
		<li>
			<section>
			  <div class="example-button-row">
			    <button mat-raised-button color="primary" (click)="navhome()">Principal</button>
			  </div>
			</section>
		</li>
		<li>
			<section>
			  <div class="example-button-row">
			    <button mat-raised-button (click)="navp1()">Flores</button>
			  </div>
			</section>
		</li>
		<li>
			<section>
			  <div class="example-button-row">
			    <button mat-raised-button color="warn" (click)="navp2()">Ramos</button>
			  </div>
			</section>
		</li>
	</ul>
</div>
